body {
    background-color: #F8F4F0 !important; /* Un blanco hueso muy suave */
}

.text-brown {
    color: #442c1d;
}

/* NAVBAR */
.navbar {
    background-color: #744c38 !important;
}

.icon-Notificaciones, .icon-Menu {
    fill: #F3E6D9 !important;
}

/* SIDEBAR */
.siderbar {
    height: calc(100vh - 62px);
    background-color: white !important;
}

.active-custom {
    background-color: #FDF5EC !important;
    color: #744c38 !important;
    border-right: 4px solid #D9A066;
    font-weight: bold;
}

.nav-link.text-dark-custom:hover {
    background-color: #FAFAFA;
    color: #D9A066 !important;
}

/* CARDS */
.stat-card {
    transition: all 0.2s ease;
}

.module-box {
    transition: all 0.3s ease;
    border: 1px solid transparent !important;
}

.module-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(116, 76, 56, 0.1) !important;
    border-color: #D9A066 !important;
}

/* ICONOS CIRCULARES */
.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

@media (max-width: 767.98px) {
    .stat-card h2 { font-size: 1.5rem; }
}