body {
    background-color: #F2E3D5 !important;
}

.contenedor {
    background-color: #FDF5EC !important; 
}

/* Bottom-nav */
    .nav-pastilla {
      background-color: #FDF5EC; 
      border: none;
      
    }
    .icon-nav {
        fill: #9E7E6A;
    }
/* Top-nav */
    nav.navbar {
        background-color: rgba(116, 76, 56, 0.95) !important;
        color: #F3E6D9 !important;
    }
    .icon-Notificaciones, .icon-Menu {
        fill: #F3E6D9 !important;
    }
/* Side-bar */
    nav.siderbar {
        height: calc(100vh - 62px); /* 100% de pantalla menos la altura de la navbar */
        top: 62px; 
        overflow-y: auto;
    }
    .btn-house {
        background-color: #D9A066; /* Dorado/Marrón claro */
        color: white;
        border: none;
    }

/*Contenido principal*/
.btn-plan {
    border-color: #E5AE5C !important;
    background: rgb(254, 244, 227);
}
.btn-plan .icon-quick-access {
    fill: #E5AE5C;
}
.btn-plan:hover {
    background: rgb(241, 216, 175);
    transform: translateY(-3px);
}
.btn-cumpl {
    border-color: #82D677 !important;
    background: rgb(233, 243, 232);
}
.btn-cumpl .icon-quick-access {
    fill: #82D677;
}
.btn-cumpl:hover {
    background: rgb(187, 248, 180);
    transform: translateY(-3px);
}
.btn-progr {
    border-color: #58D6AC !important;
    background: rgb(235, 255, 250);
}
.btn-progr .icon-quick-access {
    fill: #58D6AC ;
}
.btn-progr:hover {
    background: rgb(181, 250, 228);
    transform: translateY(-3px);
}

/*MASCOTA*/
/* Agrega esto a tu CSS */
.nuri-container {
    background: radial-gradient(circle, rgba(217, 160, 102, 0.2) 0%, rgba(255,255,255,0) 70%);
    transition: transform 0.3s ease;
}
.btn-nuri {
    transition: all 0.3s ease !important; /* Asegura que la transición funcione */
    text-decoration: none;
    display: inline-block;
}
.btn-nuri:hover {
    transform: translateY(-3px) !important; /* Sube */
    filter: brightness(1.1); /* Brilla */
    box-shadow: 0 12px 24px rgba(0,0,0,0.2) !important; /* Sombra más fuerte */
    color: white !important;
}
.btn-nuri:active {
    transform: translateY(-2px) !important;
    filter: brightness(0.9);
}
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.nuri-image {
    animation: float 4s ease-in-out infinite;
}

    /* Ajuste para que el contenido no quede tapado por la barra inferior en móvil */
    @media (max-width: 767.98px) {
      body { padding-bottom: 90px; }
    }